-if current_role_name
  %li 
    =current_role.email
    not you?
  %li
    = link_to 'Logout', destroy_session_path(current_role_name)
-else
  %li
    = link_to 'User Login', new_user_session_path 

  %li
    = link_to 'Admin Login', new_admin_session_path
  %li
    = link_to 'Police Login', new_police_session_path  
