-if current_role_name 
  -if current_role_name=='user'
    %li.purplelink
      =link_to 'Settings', edit_registration_path(current_role_name)
-else
  %li.purplelink
    = link_to('Sign Up', new_user_registration_path)  

