$('#flash_notice').remove();
$("#new_comment").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>')
alert("ah...");
$("#comments").append("<%= escape_javascript(render @comment) %>");
$("#new_comment")[0].reset();
