// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;


$font_color:#535353;
$loud_color:#535353;
$header_color:#535353;
$link_color:#535353;
$link_hover_color:#808080;


$blueprint-font-family: Arial, sans-serif;


//color
$bd_color: #f2f2f2;
$darkpurple: #4f0083;
$lightpurple: #ebe6f5;
$pink: #deb5d3;
$white:#fff;
$darkgrey:#535353;
$postbubble:#6600cc;
$commentbubble:#cccccc;
$responsebubble:#8f87c5;
//margin
$menurightmargin:20px;
//padding layout
$leftpadding:20px;
$rightpadding:20px;

