-title "Admin Dashbord"
%h1 Admin Dashboard
%ul
  %li
    =link_to 'See All Posts', admin_posts_path  
  %li 
    =link_to 'See All Approved Posts', approved_admin_posts_path
  %li
    =link_to 'See All Unapproved Posts', unapproved_admin_posts_path  
  %li
    =link_to 'See All Tags', admin_tags_path  
  %li
    =link_to 'See All Comments', admin_comments_path  
  %li 
    =link_to 'See All Approved Comments', approved_admin_comments_path  
  %li
    =link_to 'See All Unapproved Comments', unapproved_admin_comments_path  
  %li
    =link_to 'See All Responses', admin_responses_path  
  %li
    =link_to 'See All Users', admin_users_path  
  %li
    =link_to 'See All Polices', admin_polices_path  
  %li
    =link_to 'See All Categories', admin_categories_path

