#footer
  #footerlogo
    %a{:title=>"Mypolice", :href=>"#"}
      %img{:title=>"Mypolicelogi", :src=>"/images/logo.jpg"}
  %ul#relatedlink
    %li
      %a{:title=>"Blog", :href=>"#"} Blog    
    %li
      %a{:title=>"Team", :href=>"#"} Team
    %li
      %a{:title=>"Contact us", :href=>"#"} Contact us

  %ul#legallink
    %li
      %a{:title=>"Terms and Conditions", :href=>"#"} Terms and Conditions
    %li
      %a{:title=>"Privacy", :href=>"#"} Privacy
    %li
      %a{:title=>"Other stuff", :href=>"#"} Other stuff
    %li
      %a{:title=>"Here", :href=>"#"} Here
  #copyright
    %p
      &copy; MyPolice 2010

