// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/error";


//inline list
@import "compass/utilities/lists";
//sticky-footer
@import "compass/layout/sticky-footer";
@include sticky-footer(170px, "#layout" , "#layout_footer", "#footer");
//border-radius
@import "compass/css3";
//form
@import "blueprint/form";
@import "blueprint/typography";

//remove outline
* {
    outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,select::-moz-focus-inner {
    border: none;
}
// font
/*
p{
  font-family: Georgia;
  }*/
//layout
body{

  @include blueprint-typography;
  //background:$bd_color;
  font-family:$blueprint-font-family;
  font-size: $blueprint-font-size;
  color:$darkgrey; 
  
  #container{
    @include container;
    background:url("/images/bg.png") repeat-x; 
  
    #header{
      @include column(24);
      //background:$white;
      #logo {
        @include column(5);
        img{
          padding:0px $leftpadding 0;
          }
        }
      #menu{
        @include column(19,true);
        #searchbox{
          @include push(0);
          margin:10px $menurightmargin 0 0px; 
          }
        }
    }
    #maincontentwrapper{
      @include column(24);
      #maincontent{
        padding:10px $rightpadding;
        min-height:200px;
        overflow:hidden;
        margin:0 auto;
        }
      }
    #footer{
      background:$white;
        padding:0 20px;
      .footerwrapper{
        padding:20px 0;
        border-top:1px solid #b3b3b3;
        overflow:hidden;
        }

      ul{
        padding:10px 0;
        li{
          line-height:2em;
          }
        }
      .footercolumn,.otherlink{
        float:left;
        margin-right:52px;
        @include no-bullets;
        li{
          font-weight:bold;
          }
        }
      .otherlink{
         //@include column(6);
        }
      #last{
        margin:0;
        ul{
          margin:0;
          }
        }
      #copyright{
        @include column(24,true);
        padding:0 10px;
        }
      }
  }
}

a{
  color:$darkgrey;
  }

//search
#search{
  border:1px solid $darkgrey;
  margin-right:-10px;
  padding:0;
  width:200px;
  padding: 5px;
  color: $darkgrey;
  background: $lightgrey;
}
#submitbutton{
  background: $darkgrey;
  color:$white;
  font-weight:bold;
  text-algin:center;
  padding:6px;
  border:0 none;
}

// login information menu
ul.hmenu{
  @include inline-block;
  @include no-bullets;
  @include push(0);
  margin: 10px $menurightmargin 10px 10px;
  li{
    @include inline-block;
    margin: 0 10px;
    }
}

a.purplelink{
  background:$darkpurple;
  @include inline-block;
  padding:4px 10px;
  font-size:14px;
  @include border-radius(5px);
  text-align:center;
  width:80px;  
  color:$white;
  font-weight:bold;
  text-decoration:none; 
  display:block;
  cursor:pointer;  
}

a.purplelink:active{
  color:$white;
  }
a.purplelink:visited{
  color:$white;
  }

//menu tabs
.tabs {
  height:auto;
  overflow:auto;
  padding-left:0;
  @include column (12);
  margin:0;
  ul{
    margin:0;
    }
}

* html .tabs { height:1%; /* fixing IE 6 */ }
.tabs li {
  float:left;
  line-height:2;
  list-style-type:none;
  margin:0 0.5em 0 0;
  padding:0;
  font-size:18px;
}
.tabs li a {
  background:url("/images/tab-bg.png") 0 -28px no-repeat;
  width:122px;
  color:$darkgrey;
  cursor:pointer;
  display:block;
  height:80px;
  @include border-top-radius(5px);
  float:left;
  font-weight:bold;
  text-align:center;
  display:block;
}
.tabs li a.selected {
  //background:$lightpurple;
  color:#EC2B8C;
}
.tabs li a, .tabs li a:focus, .tabs li a:hover {
  text-decoration:none;
}
.tabs li a:focus, .tabs li a:hover {
  //background:$lightpurple;
  background-position:0 0;
  line-height:3.5;
  outline:none;
  color:#EC2B8C;
}
/*.tabs li a.selected:focus, .tabs li a.selected:hover {
  color:$darkgrey;
}*/

// create a new post
h2.newstory{
  text-align:center;
  margin:10px 0;
  font-weight:bold;
  font-size:36px;
  }
#progress, #complete{
  background:url("/images/progressbar.png") no-repeat scroll 0 0 transparent;
  margin:0 auto;
  position:relative;
  width:738px;
  
  ul{
    margin:0;
    padding:0;
      li{
        list-style-type:none;
        display:inline;
        float:left;
        font-weight:bold;
        line-height:1.5em;
        padding: 0 0 10px 0;
         }
        li.first{
        width:170px;  
        position:relative;
        left:-15px;
          }
        li.second{
         width:171px; 
          }
        li.third{
        width:171px;  
          }
        li.forth{
         width:180px; 
          }
        li.fifth{  
          }
    }
  
  .first{
    }
  .second {    
    #marker{
    background-position:-39px 0;
    left:175px;
    }
  }
  .third{
    #marker{
    left:349px;
    background-position:-76px 0;
      }
    }
  .forth{
    #marker{
    left:524px;
    background-position:-115px 0;    
      }
    }
  .fifth{
    #marker{
    left:698px;
    background-position:-152px 0;    
      }
    }
}
#complete{
  margin:1px 0 19px;
  margin-top:0;
  height:41px;
  
  #marker{
   background:url("/images/marker.png") no-repeat;
   height:38px;
   position:absolute;
   top:0;
   margin:1px;
   width:38px;
   }
}

#newpost{
  @include span(22);
  margin:0px auto;
  background:$white;
  padding:10px;
  overflow:hidden;

  #new_post{
    height:100%;
    float:left;
    display:table-cell;
    vertical-aligin:middle;
    }

  #back_button{
    @include column(3);
    display: inline;
    margin-right:50px;
    min-height:20px;
    }
  .navigation_button{
      width:56px;
      float:left;
      padding:120px 0 0 0px;
      text-align:center;
      margin-top:80px;
      cursor:pointer;
      border:none;
      color:$darkpurple;
      font-family:$blueprint-font-family;
      font-size:14px;
      font-weight:bold;
      text-decoration:none;
      }
    .submitstory{
      background:url("/images/arrow.png") no-repeat;
      }
     #backbutton{
      background:url("/images/leftarrow.png") no-repeat;
      float:right;
       }
  #formcontent{
    @include column(14);
    @include blueprint-form;
    @include blueprint-form-borders($unfocused_border_color,$focused_border_color,$fieldset_border_color);
    vertical-align:middle;
    h2{
      margin:76px 0;
      font-weight:bold;
      }
    h3{
      font-weight:bold;
      font-size:24px;
      text-align:center;
      }
    select{
      width:314px;
      padding:5px;
      background:$darkpurple;
      color:$white;
      }
    select.short{
      width:88px;}
      textarea{
        width:495px;
        margin:0 0 20px 0;
        background:url("/images/input-bg.png")!important;
        }
      input{
        background:url("/images/input-bg.png")!important;
        }
      table .story{
        text-algin:top;
        }
    ul{
      margin:0; 
      padding:0;
      height:35px;
      li{
         @include inline-list;
        float:left;
        }
    .star1{
      float:right;
      }
  }
  .orange{
    color:#F6931F;
    }
  
      .ui-widget-content{
       margin:0 25px; 
      }
  }
  #next_button{
    display: inline;  
    @include column(3,true);
    margin-left:40px;
    min-height:20px;
    }
}


.error{
background-color:#F3E6E6;
    border-color: #C80000;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin:0 0 0 5px;
  }

label.error{
  color:red;
  }
//posts page
#tellbutton{
  position:absolute;
  margin:-35px 0 0 -105px;
  display:block;
  cursor:pointer;  

}
#posts{
  background:$white;
  @include border-radius(5px);
  padding:10px;
  overflow:hidden;
  
  .post, .response, .comment{
    margin: 0 0 40px 0;
    }

  .postbubble{
    border:2px dashed $postbubble;
    padding:10px;
    margin:10px 0 10px 0;
    overflow:hidden;  
  }
  span.triangle{
    background:url("/images/bubble-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: -12px 54px 0 0;
    }

  .postrelated{
    font-weight:bold;
    }
  #sharethis_0{
    float:right;
    height:17px;
    weight:auto;
    margin:-34px 0 0 0 ;
    }  

  #responses{
    @include span(13);
    float:right; 
    
    .responsebubble{
      border:2px dashed $responsebubble;
      padding:10px;
      margin:10px 0;
      }
    span.triangle{
    background:url("/images/response-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: 8px 54px 0 0;
    }
  }

  #comments{
    @include span(13);
    float:left;

    .commentbubble{
      border:2px dashed $commentbubble;
      padding:10px;
      margin:10px 0;
      }

    span.triangle{
    background:url("/images/comment-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: 8px 54px 0 0;
    }
    }
}

//homepage
#mph1{
  text-align:center;
}
#mp_intro{
  //background:$white;
  overflow:hidden;
  //border:1px solid $darkgrey;
  //@include border-radius(10px);
  ul{
      @include no-bullets;
    }

// slide
.nivo-controlNav {
	position:absolute;
	left:36%;
	bottom:-30px;
}
.nivo-controlNav a {
	display:block;
	width:12px;
	height:12px;
	background:url("/images/slide-bar.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin:0 20px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-12px 0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url("/images/arrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption{
  top:60%;
  position:relative;
  background:none;
  width:60%;
  p{
    padding:0;
    span{
      font-weight:bold;
      font-size:36px;
      line-height:42px;
      background:#000;
      }
    }
  }  
  #mp_slider{
  float:left;
  background:url("/images/loading.gif") no-repeat scroll 50% 50%;
  @include box-shadow;
  border:1px solid #dedede;
  margin:10px 10px 50px;
  height:494px;
  position:relative;
  width:600px;
   a{
	  display:block;
  }
  img{
    position:absolute;
	  top:0px;
	  left:0px;
	  display:none;
    }
  }
  #mp_sidebar{
    float:left;
    margin:0 10px;
    width:265px;
  .submitbutton{
    margin:10px 0 0 0;
    }
  .post{
    background:url("/images/story-bubble.png") no-repeat;
    margin:10px 0 0 0;
    padding:10px;
    height:92px;    
    h3{
      margin-bottom:5px;
      }
    }
    #viewall{
      margin:10px 0 0;
      float:right;
      }
  }
}
/*
#col1, #col2,#col3{
  float:left;
  display:inline;
  width:292px;
  margin:5px;
  h2{
    margin:0;
    border-bottom:2px solid $darkpurple;}
  p{
    padding: 10px;
    margin:0;
    border-bottom:1px dotted $darkpurple;
    height:30px;
    }
  #homebt{
    width:150px;
    margin:20px 0 10px 0;
    }
}
*/
//sidebar
#sidebar{
  h3{
      margin:0;
      border-bottom:2px solid $darkpurple;
      padding:0 0 10px 0;
      }
  .sideblock{
    padding:10px $rightpadding 10px 0;
    .sidecontent{
      padding:10px;
      }
    }
  #latestresponses{
    p{
      padding: 10px;
      margin:0;
      border-bottom:1px dotted $darkpurple;
    }
  }
  #tags, #map{
    a{
      padding:5px;
      }
    .css1{font-size:1em;}
    .css2{font-size:1.2em;}
    .css3{font-size:1.4em;}
    .css4{font-size:1.6em;}
  }
}

//login
#blankbox{
  margin:0 auto;
  @include span(8);
  background:$white;
}

.centerbox{
  padding: 10px 30px;
  }

.sortby{
  @include column(24);
  padding:10px;
  h1{
    padding:0 5px;
    margin:0;
    }
  ul{
    @include inline-list;
  li{
    font-size:18px;
    padding:0 0 0 5px;
    }

  }
  }

//address lookup

#map_canvas{
  width:600px;
  height:400px;
  }
.hide{
  display:none;
  }

//tooltip
.tooltip{
  border-bottom:1px dotted #000;
  color: #000;
  outline:none;
  cursor:help;
  position:relative;
  text-decoration: none;
  span{
    margin-left:-999em;
    position:absolute;
    }
  }
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 100000;
  margin-left: 0;
  width: 350px;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  //-moz-box-shadow:5px 5px rgba(0, 0, 0, 0.1);
  line-height:1.5em;
}
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #E9ECF5; border: 1px solid #0F2F8D; color:#000;
  /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
	filter: alpha(opacity=85);		
  opacity:0.85*/
}
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
