// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/error";


//inline list
@import "compass/utilities/lists";
//sticky-footer
@import "compass/layout/sticky-footer";
@include sticky-footer(200px, "#layout" , "#layout_footer", "#footer");
//border-radius
@import "compass/css3";
//form
@import "blueprint/form";
@import "blueprint/typography";

//remove outline
* {
    outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,select::-moz-focus-inner {
    border: none;
}
// font
/*
p{
  font-family: Georgia;
  }*/

//layout
body{

  @include blueprint-typography;
  //background:$bd_color;
  font-family:$blueprint-font-family;
  font-size: $blueprint-font-size;
  color:$darkgrey; 
  
  #container{
    @include container;
    background:url("/images/bg.png") repeat-x; 
     
    #header{
      @include column(24);
      //background:$white;
      #logo {
        @include column(5);
        img{
          padding:0px $leftpadding 0;
          }
        }
      #menu{
        @include column(19,true);
        #searchbox{
          @include push(0);
          margin:10px $menurightmargin 0 0px; 
          }
        }
    }
    #maincontentwrapper{
      @include column(24);
      #maincontent{
        padding:0px $rightpadding $rightpadding;
        min-height:200px;
       overflow:hidden;
        margin:0 auto;
        }
      }
    #footer{
      background:$white;
        padding:0 20px;
      .footerwrapper{
        padding:20px 0 0 0;
        border-top:1px solid #b3b3b3;
       overflow:hidden;
        }

      ul{
        padding:10px 0;
        margin: 0 18px 0 0;
        li{
          line-height:2em;
          }
        }
      .footercolumn,.otherlink{
        float:left;
        margin-right:52px;
        @include no-bullets;
        li{
          font-weight:bold;
          }
        }
      .otherlink{
         //@include column(6);
        }
      #last{
        margin:0;
        ul{
          margin:0;
          }
        }
      
      }
  }
  #copyright{
        @include column(24,true);
        padding:0 10px;
        }
}

a{
  color:$darkgrey;
  }

//search
#search{
  border:1px solid $darkgrey;
  margin-right:-10px;
  padding:0;
  width:200px;
  padding: 5px;
  color: $darkgrey;
  background: #F2F2F2;
}
#submitbutton{
  background: $darkgrey;
  color:$white;
  font-weight:bold;
  text-algin:center;
  padding:6px;
  border:0 none;
}

// login information menu
ul.hmenu{
  @include inline-block;
  @include no-bullets;
  @include push(0);
  margin: 10px $menurightmargin 10px 10px;
  li{
    @include inline-block;
    margin: 0 10px;
    }
}

a.purplelink{
  background:$darkpurple;
  @include inline-block;
  padding:4px 10px;
  font-size:14px;
  @include border-radius(5px);
  text-align:center;
  width:80px;  
  color:$white;
  font-weight:bold;
  text-decoration:none; 
  display:block;
  cursor:pointer;  
}

//menu tabs
.tabs {
  height:auto;
  overflow:auto;
  padding-left:0;
  @include column (12);
  margin:0;
  ul{
    margin:0;
    }
}

* html .tabs { height:1%; /* fixing IE 6 */ }
.tabs li {
  float:left;
  line-height:2;
  list-style-type:none;
  margin:0 0.5em 0 0;
  padding:0;
  font-size:18px;
}
.tabs li a {
  background:url("/images/tab-bg.png") 0 -28px no-repeat;
  width:122px;
  color:$darkgrey;
  cursor:pointer;
  display:block;
  height:80px;
  @include border-top-radius(5px);
  float:left;
  font-weight:bold;
  text-align:center;
  display:block;
}
.tabs li a.selected {
  //background:$lightpurple;
  color:#EC2B8C;
}
.tabs li a, .tabs li a:focus, .tabs li a:hover {
  text-decoration:none;
}
.tabs li a:focus, .tabs li a:hover {
  //background:$lightpurple;
  background-position:0 0;
  line-height:3.5;
  outline:none;
  color:#EC2B8C;
}
/*.tabs li a.selected:focus, .tabs li a.selected:hover {
  color:$darkgrey;
}*/

// create a new post
#newstory_header{
  padding:10px;
}
#progress, #complete{
  background:url("/images/progress.png") no-repeat;
  margin:-40px auto 5px auto;
  position:relative;
  width:641px;
  height:40px;
 overflow:hidden;
   
   .first{
   background-position:0 -40px;
   height:40px;
   width:130px;
    }
  .second {    
    background-position:0 -40px;
   height:40px;
   width:260px;
  }
  .third{
    background-position:0 -40px;
   height:40px;
   width:390px;
    }
  .forth{
    background-position:0 -40px;
   height:40px;
   width:500px;
    }
  .fifth{
    background-position:0 -40px;
   height:40px;
   width:640px;
    }
}
#complete{
  margin:1px 0 19px;
  margin-top:0;
  height:41px;
  }

#newpost{
  @include span(22);
  margin:0px auto;
  background:$white;
  padding:20px 10px;
 overflow:hidden;

  
  .navigation_button{
      width:127px;
      height:36px;
      text-align:center;
      cursor:pointer;
      border:none;
      color:$darkgrey;
      font-family:$blueprint-font-family;
      font-size:18px;
      font-weight:bold;
      text-decoration:none;
      }
  #formcontent{
    width:641px;
    margin:0 auto;
    @include blueprint-form;
    @include blueprint-form-borders($unfocused_border_color,$focused_border_color,$fieldset_border_color);
    fieldset{
      margin:0;
      padding:10px;
      }
    vertical-align:middle;
    h2{
      margin:76px 0;
      font-weight:bold;
      }
    h3{
      font-weight:bold;
      font-size:24px;
      text-align:center;
      }
    select{
      width:314px;
      padding:5px;
      background:url("/images/input-bg.png");
      }
    select.short{
      width:88px;}
      #post_tag_list{
        width:600px;
        }
      textarea{
        width:600px;
        margin:0 0 20px 0;
        background:url("/images/input-bg.png")!important;
        }
      input[type="text"]{
        background:url("/images/input-bg.png")!important;
        }
      input[type="reset"]{
        background:url("/images/resetbutton.png") no-repeat;
        text-align:right;
        padding: 0 30px 0 0;
        }
      input[type="submit"]{
        background:url("/images/nextbutton.png") no-repeat;
        text-align:left;
        padding: 0 0 0 30px;
    }
      table {
        margin:0;
        tr, td, caption{
          text-align:right;
          padding:4px;
          }
        }
      table.textleft{
        tr,td, caption{
          text-align:left;
          
          }
        
        }
     ul.confirm{
  li{
    float:none;
    }
  }
    ul{
      margin:0; 
      padding:0;
      overflow:hidden;
      li{
         @include inline-list;
        float:left;
        }
    .star1{
      float:right;
      }
  }
  .orange{
    color:#F6931F;
    display:block;
    width:100%;
    text-align:center;
    margin-top:10px;
    }
  
      .ui-widget-content{
       margin:0px auto -30px; 
       background:url("/images/ratingbarbg.png") no-repeat;
       height:29px;
       border:none;
       width:445px;
      }

      .ui-slider-handle{
        margin-top:10px;
        }
  }
  
 
  
  ul#questionstracker{
     margin:0 auto;
     border-top:1px solid #CCCCCC;
     border-bottom:1px solid #CCCCCC;
     li{
       width:105px;
       padding:10px;
       text-align:center;
       color:#CCCCCC;    
       }
      .active{
         color:#EC2B8C;
         }
    }

    ol{
      li{
        margin:15px 0;
        
        }
      }
  #backbt{
    background:url("/images/resetbutton.png") no-repeat;
    padding:7px 30px 0 0;
    text-align:right;
    text-decoration:none;
    float:left;
   }
  #nextbt{
    background:url("/images/nextbutton.png") no-repeat;
    padding:7px 0 0 30px;
    text-align:left;
    text-decoration:none;
    float:right;
    }
  .navibt{
    width:97px;
    height:29px;
    text-decoration:none;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    font-family:Arial;
    display:block;
    }
  #gmap img{
    vertical-align:middle;
    }
}

.error{
background-color:#F3E6E6;
    border-color: #C80000;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin:0 0 0 5px;
  }

label.error{
  color:red;
  }
//posts page
#tellbutton{
  position:absolute;
  margin:-35px 0 0 -105px;
  display:block;
  cursor:pointer;  

}
#head{
 background:#666;
 margin:0 30px;
 padding:10px;
 color:#e6e6e6;
 h2{
   margin:0;
   color:#e6e6e6;
   }
}
#posts{
  background:$white;
  @include border-radius(5px);
  padding:10px 30px;
 overflow:hidden;
  
  .post, .response, .commentquestionstracker{
    margin: 0 0 40px 0;
    }

  .postbubble{
    border:2px dashed $postbubble;
    padding:10px;
    margin:10px 0 10px 0;
   overflow:hidden;  
  }
  span.triangle{
    background:url("/images/bubble-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: -12px 54px 0 0;
    }
  .ratingbar{
    float:left;
    width: 236px;
    }
  .postrelated{
    text-align:right;
    float:right;
    width:280px;
    }
  #sharethis_0{
    float:right;
    height:17px;
    weight:auto;
    margin:-34px 0 0 0 ;
    }  

  #responses{
    @include span(13);
    float:right; 
    
    .responsebubble{
      border:2px dashed $responsebubble;
      padding:10px;
      margin:10px 0;
      }
    span.triangle{
    background:url("/images/response-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: 8px 54px 0 0;
    }
  }

  #comments{
    @include span(13);
    float:left;

    .commentbubble{
      border:2px dashed $commentbubble;
      padding:10px;
      margin:10px 0;
      }

    span.triangle{
    background:url("/images/comment-triangle.png") no-repeat;
    display:block;
    width:32px;
    height:41px; 
    float:right;
    margin: 8px 54px 0 0;
    }
    }
}

//homepage
#mph1{
  text-align:center;
}
#mp_intro{
  //background:$white;
 overflow:hidden;
  //border:1px solid $darkgrey;
  //@include border-radius(10px);
  ul{
      @include no-bullets;
    }

// slide
.nivo-controlNav {
	position:absolute;
	left:36%;
	bottom:-30px;
}
.nivo-controlNav a {
	display:block;
	width:12px;
	height:12px;
	background:url("/images/slide-bar.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin:0 20px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-12px 0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url("/images/arrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption{
  top:60%;
  position:relative;
  background:none;
  width:60%;
  p{
    padding:0;
    span{
      font-weight:bold;
      font-size:36px;
      line-height:42px;
      background:#000;
      }
    }
  }  
  #mp_slider{
  float:left;
  background:url("/images/loading.gif") no-repeat scroll 50% 50%;
  @include box-shadow;
  border:1px solid #dedede;
  margin:10px 10px 50px;
  height:494px;
  position:relative;
  width:600px;
   a{
	  display:block;
  }
  img{
    position:absolute;
	  top:0px;
	  left:0px;
	  display:none;
    }
  }
  #mp_sidebar{
    float:left;
    margin:0 10px;
    width:265px;
  .submitbutton{
    margin:10px 0 0 0;
    }
  .post{
    background:url("/images/story-bubble.png") no-repeat;
    margin:10px 0 0 0;
    padding:10px;
    height:92px;    
    h3{
      margin-bottom:5px;
      }
    }
    #viewall{
      margin:10px 0 0;
      float:right;
      }
  }
}
/*
#col1, #col2,#col3{
  float:left;
  display:inline;
  width:292px;
  margin:5px;
  h2{
    margin:0;
    border-bottom:2px solid $darkpurple;}
  p{
    padding: 10px;
    margin:0;
    border-bottom:1px dotted $darkpurple;
    height:30px;
    }
  #homebt{
    width:150px;
    margin:20px 0 10px 0;
    }
}
*/
//sidebar
#sidebar{
  h3{
      margin:0;
      background:url(/images/findmapicon.png) 10px 10px no-repeat #666;
      padding:10px;
      text-align: center;
      color:#E6E6E6;
      @include border-top-radius(10px);
      }
  .sideblock{
    padding:10px $rightpadding 10px 0;
    .sidecontent{
      padding:10px;
      background:$white;
      @include border-bottom-radius(10px); 
      overflow:hidden;
      }
  }
  #rating {
      .sidecontent{
       text-align:center;
        @include border-bottom-radius(0px); 
      }
  }

  #latestresponses{
    p{
      padding: 10px;
      margin:0;
      border-bottom:1px dotted $darkpurple;
    }
  }
  #tags, #map{
    a.tag{
      display:block;
      background:$lightgrey;
      padding:5px;
      float:left;
      margin:5px;
      }
    .css1{font-size:1em; padding:5px;}
    .css2{font-size:1.2em; padding:5px;}
    .css3{font-size:1.4em; padding:5px;}
    .css4{font-size:1.6em; padding:5px}
  }

  #where{
    width:270px;
    height:220px;
    }
}

//login
#blankbox{
  margin:0 auto;
  @include span(8);
  background:$white;
}

.centerbox{
  padding: 10px 30px;
  }

.sortby{
  @include column(24);
  padding:10px;
  h1{
    padding:0 5px;
    margin:0;
    }
  ul{
    @include inline-list;
  li{
    font-size:18px;
    padding:0 0 0 5px;
    }

  }
  }

//address lookup

#map_canvas{
  width:600px;
  height:400px;
  }
.hide{
  display:none;
  }

//tooltip
.tooltip{
  color: #000;
  outline:none;
  cursor:help;
  position:relative;
  text-decoration: none;
  img{
    vertical-align:middle;
    }
  span{
    margin-left:-999em;
    position:absolute;
    }
  }
.tooltip:hover .left{
  position:absolute;
  left:-250px;
  }
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 100000;
  margin-left: 0;
  width: 350px;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  //-moz-box-shadow:5px 5px rgba(0, 0, 0, 0.1);
  line-height:1.5em;
}
.tooltip:hover img {
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em;  text-align:left;}
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #E9ECF5; border: 1px solid #0F2F8D; color:#000;
  /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
	filter: alpha(opacity=85);		
  opacity:0.85*/
}
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

//position
.right{
  float:right;
  }
