// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/error";


//inline list
@import "compass/utilities/lists";
//sticky-footer
@import "compass/layout/sticky-footer";
@include sticky-footer(170px, "#layout" , "#layout_footer", "#footer");
//border-radius
@import "compass/css3";
//form
@import "blueprint/form";
@import "blueprint/typography";


//color
$bd_color: #f2f2f2;
$darkpurple: #4f0083;
$lightpurple: #ebe6f5;
$pink: #deb5d3;
$white:#fff;
$darkgrey:#535353;
$commentbubble:#cccccc;
$responsebubble:#6c72e7;
//margin
$menurightmargin:10px;

//layout
body{
  @include blueprint-typography;
  background:$bd_color;
  font-family:$blueprint-font-family;
  font-size: $blueprint-font-size;
  color:$darkgrey; 
  
  #container{
    @include container;
    background:$lightpurple;
  
    #header{
      @include column(24);
      background:$white;
      #logo {
        @include column(8);
        img{
          padding:10px 10px 0;
          }
        }
      #menu{
        @include column(16,true);
        #searchbox{
          @include push(0);
          margin:10px $menurightmargin 0 400px; 
          }
        }
    }
    #maincontentwrapper{
      @include column(24);
      #maincontent{
        padding:10px;
        min-height:200px;
        margin:0 auto;
        }
      }
    #footer{
      background:$white;
      ul{
        padding:10px 0;
        li{
          line-height:2em;
          }
        }
      #footerlogo,#relatedlink, #legallink{
        @include column(8);
        @include no-bullets;
        a{
          font-weight:bold;
          }
        img{
          padding:10px;
          }
        } 
      #legallink{
        @include column(8,last)
        }
      #copyright{
        @include column(24,true);
        padding:0 10px;
        }
      }
  }
}

a{
  color:$darkgrey;
  }

//search
#search{
  border:1px solid $darkpurple;
  margin-right:-10px;
  padding:0;
  width:169px;
  padding: 5px;
  color: $darkgrey;
}
#submitbutton{
  background: $darkpurple;
  color:$white;
  font-weight:bold;
  text-algin:center;
  @include border-right-radius(5px);
  padding:5px;
  border:0 none;
}

// login information menu
ul.hmenu{
  @include inline-block;
  @include no-bullets;
  @include push(0);
  margin: 0px $menurightmargin 20px 60px;
  li{
    @include inline-block;
    }
}

a.purplelink{
  background:$darkpurple;
  @include inline-block;
  padding:4px 10px;
  font-size:14px;
  @include border-radius(5px);
  text-align:center;
  width:80px;  
  color:$white;
  font-weight:bold;
  text-decoration:none; 
  display:block;
  cursor:pointer;  
}

a.purplelink:active{
  color:$white;
  }
a.purplelink:visited{
  color:$white;
  }

//menu tabs
.tabs {
  height:auto;
  overflow:auto;
  padding-left:0;
  @include push(0);
  margin:0 $menurightmargin 0 0;
  ul{
    margin:0;
    }
}

* html .tabs { height:1%; /* fixing IE 6 */ }
.tabs li {
  float:left;
  line-height:1.5;
  list-style-type:none;
  margin:0 0 0 0.5em;
  padding:0;
  font-size:18px;
}
.tabs li a {
  background:$pink;
  color:$darkgrey;
  cursor:pointer;
  display:block;
  @include border-top-radius(5px);
  float:left;
  font-weight:bold;
  padding:10px 40px;
  display:block;
}
.tabs li a.selected {
  background:$lightpurple;
}
.tabs li a, .tabs li a:focus, .tabs li a:hover {
  text-decoration:none;
}
.tabs li a:focus, .tabs li a:hover {
  color:$darkgrey;
  background:$lightpurple;
  outline:none;
}
.tabs li a.selected:focus, .tabs li a.selected:hover {
  color:$darkgrey;
}

// create a new post
#newpost{
  @include span(22);
  margin:0 auto;
  background:$white;
  padding: 50px 10px;
  overflow:hidden;
  #back_button{
    @include column(4);
    text-align:center;
    }
  #formcontent{
    @include column(14);
    @include blueprint-form;
    }
  #next_button{
    @include column(4,true);
    text-align:center;
    }
}

//posts page
#tellbutton{
  position:absolute;
  margin:-20px 0 0 -100px;
  display:block;
  cursor:pointer;  
}
#posts{
  background:$white;
  @include border-radius(5px);
  padding:10px;
  margin-top:40px;
  overflow:hidden;

  .postbubble{
    border:2px dashed $darkpurple;
    padding:10px;
    margin:10px 0;
    overflow:hidden;
    }
  #sharethis_0{
    float:right;
    height:17px;
    weight:auto;
    margin:-34px 0 0 0 ;
    }  

  #responses{
    @include span(13);
    float:right; 
    
    .responsebubble{
      border:2px dashed $responsebubble;
      padding:10px;
      margin:10px 0;
      }
  }

  #comments{
    @include span(13);
    float:left;

    .commentbubble{
      border:2px dashed $commentbubble;
      padding:10px;
      margin:10px 0;
      }
    }
}

//homepage
#mph1{
  margin:30px 0;
  padding:0 40px;
}
#mp_intro{
  ul{
    background:url(/images/whatismp.png) no-repeat;
    width:930px;
    height:224px;
    padding:0;
    list-style:none;
    li{
      color:$white;
      float:left;
      font-size:18px;
      height:40px;
      line-height:40px;
      text-align:center;
      width:310px;
      padding:172px 0px 0;

      }
  }
}

#col1, #col2,#col3{
  float:left;
  display:inline;
  width:300px;
  margin:5px;
  h2{
    margin:0;
    border-bottom:2px solid $darkpurple;}
  p{
    padding: 10px;
    margin:0;
    border-bottom:1px dotted $darkpurple;
    }
  #homebt{
    width:150px;
    margin:20px 0 10px 0;
    }
}

//sidebar
#sidebar{
  h3{
      margin:0;
      border-bottom:2px solid $darkpurple;}
  #latestresponses{
    padding:50px 10px 10px 0; 
    p{
      padding: 10px;
      margin:0;
      border-bottom:1px dotted $darkpurple;
    }
  }
  #tags, #map{
    padding:10px 10px 10px 0;
  }
}
