#newpost
  =form_for(@post) do |f| 
    #back_button.action
      =f.submit :type=>"reset" ,:value=>"Back",:class=>"navigation_button",:id=>"backbutton"
    #formcontent
      = render "shared/error_message", :target => [@post, @address]
      #err
      %fieldset.step#first
        %h3
          Story details
        %p
          Share your story with mypolice.
          -if user_signed_in?
            You signed in as 
            =current_user.email
            %p
              =check_box_tag :anonymous
              No, I want to remain anonymous

          -else
            tell us as a
            =link_to "user", new_user_session_path
            If you don't sign in as a user, your story will be kept anonymous
        

       
        %table
          %tr.field
            %td
              =f.label(:title, "We want you to give your story a title")
              =mark_required(@post, :title)
              %a.tooltip{:href=>"#"}
                Example
                %span.classic
                  "Police really cared" "Neighbourhood chaos"
            %td
              =f.text_field :title, :value=>@post.title
             
          %tr.field
            %td
              =f.label(:who_id,"Who did it happen to?")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  please tell us details about who it happened to. (i.e My friend is female aged 16-24.)
                  /Is this story about you or a friend?
            -who_array = Who.all.map{|w|[w.name,w.id]}
            %td
              =f.select(:who_id, options_for_select(who_array,@post.who_id),{},{:class=>"short"})
              is
              %select{:name=>"gender",:class=>"short"} 
                %option female 
                %option male
              aged
              %select{:name=>"age", :class=>"short"} 
                %option 16-24 
                %option 25-34
                %option 35-44
                %option 45-54
                %option 55-64
                %option 65-74
                %option 75 and over
          %tr.field
            %td
              =f.label(:happened_on,"When did it happend?")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  If you can remember the exact date, that's great, but if not, the year would be good.
            /%td=f.text_field :happened_on
            %td
              =select_year(0,:start_year=>Time.now.year,:end_year=>Time.now.year-50, :field_name=>:happened_on_year, :prompt => "What year? Don't worry if you can't remember")
             
          %tr.field
            %td
            %td
              =select_month(0,:field_name=>:happened_on_month, :prompt=>"What month? Don't worry if you can't remember")
          %tr.field
            %td
            %td
              =select_day(0, :field_name=>:happened_on_day, :prompt=>"What day? Don't worry if you can't remember")
            /%td= date_select("post","happened_on", :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' })
        -#beign
          %tr.field
            %td
              =f.label(:category_id,"Category")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  We want to know what kind of story this is
            -category_array = Category.all.map{|c| [c.name,c.id]}
            %td=f.select(:category_id, options_for_select(category_array, @post.category_id))
          -end
        
    
      =fields_for :address do |a|
        %fieldset.step#second
          %h3
            Choosing the location
          %p
            Please tell us where this story happened:
            %a.tooltip{:href=>"#"}
              Why
              %span.classic
                The more information you tell us, the better.  We will never reveal an exact street address online, it's just so we can make our data as accurate as possible.  Tell us what city or town this happened in, the name of the area, the street name, and finally the postcode. if you can't remember some of the details or are unsure of the area, try clicking our map button and using a pointer to tell us where it happened.
          %a{:id=>'gmap', :href=>'#addresslookup',:title=>"fintitonmap"}
            Find it on map
          %table
            %tr.field 
              %td=a.label(:country, "Country(Our serivce is only available in the UK)")
              %td=a.select(:country, options_for_select(["United Kingdom"]), {:disabled => true})
            %tr.field 
              %td=a.label(:county," County")
              %td=a.text_field :county
            %tr.field 
              %td
                =a.label(:city," Town/City")
              %td=a.text_field :city
            %tr.fields 
              %td=a.label(:address_line2, "Street Name")
              %td=a.text_field :address_line2
           
            %tr.field 
              %td
                =a.label(:address_line1," Street Number/House Name")
              %td
                =a.text_field :address_line1
            %tr.field 
              %td=a.label(:postcode," Postcode")
              %td=a.text_field :postcode
      
      .step#third
        %h3 Questions
        %fieldset
          %legend First Contact - Making contact with police
          %table
            %tr.field#q11
              %td
                =label_tag "Did you make contact with police"
              %td
                =radio_button_tag 'contact', 'Yes'
                =label_tag 'contact_Yes','Yes'
                =radio_button_tag 'contact', 'No'
                =label_tag 'contact_No','No'
            %tr.field.hide#q12
              %td
                =label_tag :contactway,"How did you contact the police?"
              %td
                %select{:name=>"contactway",:id=>"contactway"}
                  %option By telephone call(not 999)
                  %option By personal visit to a police station
                  %option 999 call
                  %option Direct to a police officer
                  %option The police contacted you 
                  %option other method
            %tr.hide#q13
              %td
                =label_tag :easeofcontactingrating, "Were you satisfied or dissatisfied with the ease of contacting someone who could asset you?"
              %td
                %input{:type=>"text",:id=>"easeofcontactingrating",:class=>"hide"}
                #easeofcontactingratingbar
            %tr.hide#q14
              %td
                =label_tag :afterreport,"After the detail were reported. how was the incident dealt with?"
              %td
                %select{:name=>"afterreport",:id=>"afterreport"}
                  %option Entirely over the phone
                  %option By an officer or other member of police staff
                  %option At the police station
            %tr.hide#q15
              %td
                =label_tag :isreported,"Were you told when you reported the crime how long it would be before someone would attend?"
              %td
                =radio_button_tag 'isreported', 'Yes'
                =label_tag 'isreported_Yes','Yes'
                =radio_button_tag 'isreported', 'No'
                =label_tag 'isreported_No','No'
                =radio_button_tag 'isreported', "Don't know"
                =label_tag "isreported_Don't know","Don't know"
            %tr.hide#q16
              %td
                =label_tag :howlongarrive, "How long did it take for them to arrive?"
              %td
                %select{:name=>"howlongarrive", :id=>"howlongarrive"}
                  %option As soon as they could
                  %option Within 10 minutes
                  %option Within 1 hour
                  %option Within 4 hours
                  %option At an agreed time later the same day
                  %option At an agreed time on another day
                  %option Don't know/can't remember

            %tr.hide#q17
              %td
                =label_tag :howlongarrive, "How long did it take for them to arrive?"
              %td
                %select{:name=>"howlongarrive", :id=>"howlongarrive"}
                  %option Within 10 minutes
                  %option Within 1 hour
                  %option Within 4 hours
                  %option At an agreed time appointment time
                  %option Later than the agreed appointment time
                  %option Earlier than the agreed appointment time
                  %option Never arrived
                  %option Don't know/can't remember
            %tr.hide#q18
              %td
                =label_tag :arriverating,"How satisfied or dissatisfied were you with the time it took for the police to arrive?"
              %td
                %input{:type=>"text",:id=>"arriveratingvalue",:class=>"hide"}
                  #arrvieratingbar
            
        %fieldset.hide#q2
          %legend Police Actions to deal with the incident
          %p Please think about the actions taken by the police officers and staff who dealt with your incident, did they;
          %table
            %tr
              %td
              %td Yes
              %td No
              %td Don't know
              %td Not applicable
            %tr 
              %td Explain what was going to happen and why?
              %td
                =radio_button_tag 'isexplain', "Yes"
              %td
                =radio_button_tag 'isexplain', "No"
              %td
                =radio_button_tag 'isexplain', "Don't know"
              %td
                =radio_button_tag 'isexplain', "Not applicable"
            %tr 
              %td Arrange for an investigation of the scene of the crime (e.g. fingerprints), or examination of items recovered from the scene?
              %td
                =radio_button_tag 'isinvestigate', "Yes"
              %td
                =radio_button_tag 'isinvestigate', "No"
              %td
                =radio_button_tag 'isinvestigate', "Don't know"
              %td
                =radio_button_tag 'isinvestigate', "Not applicable"
            %tr 
              %td Provide you with a reference number?
              %td
                =radio_button_tag 'referenceno', "Yes"
              %td
                =radio_button_tag 'referenceno', "No"
              %td
                =radio_button_tag 'referenceno', "Don't know"
              %td
                =radio_button_tag 'referenceno', "Not applicable"
            %tr 
              %td Provide you with contact details for someone dealing with your case?
              %td
                =radio_button_tag 'contactdetail', "Yes"
              %td
                =radio_button_tag 'contactdetail', "No"
              %td
                =radio_button_tag 'contactdetail', "Don't know"
              %td
                =radio_button_tag 'contactdetail', "Not applicable"
          %table
            %tr
              %td
                =label_tag :actionrating, "Were you satisfied or dissatisfied with the ease of contacting someone who could asset you?"
            %tr
              %td
                %input{:type=>"text",:id=>"actionrating",:class=>"hide"}
                #actionratingbar


                 
        %fieldset.hide#q3
          %legend Follow Up - Being kept informed
        
          %table
            %tr
              %td
                Have had any contact with the police about thisincident since your report and the initial police response? (Thos contact could have been over the phone, face-to-face, by letter or by other means)
            %tr
              %td
                =radio_button_tag 'anyocontact', "Yes"
                =label_tag 'anycontact_Yes', "Yes"
                =radio_button_tag 'anycontact', "No"
                =label_tag 'anycontact_No', "No"
       
            %tr
              %td Did you want further contact from the police
            %tr
              %td
                =radio_button_tag 'furthercontact', "Yes"
                =label_tag 'furthercontact_Yes', "Yes"
                =radio_button_tag 'furthercontact', "No"
                =label_tag 'furthercontact_No', "No"
            
              %tr.q31.hide
                %td Have the police told you at any point that: (please tick all that apply)
              %tr.q31.hide
                %td
                  =check_box_tag 'a'
                  =label_tag "a", "a. Somebody has been arrested in connection with the case "
              %tr.q31.hide
                %td
                  =check_box_tag 'b'
                  =label_tag "b", "b. The police have recovered some or all of your property  "
              %tr.q31.hide
                %td
                  =check_box_tag 'c'
                  =label_tag "c", "c. A person has been charged with or is being reported for the offence "
              %tr.q31.hide
                %td
                  =check_box_tag 'd'
                  =label_tag "d", "d. Lines of enquiry are still being pursued "
              %tr.q31.hide
                %td
                  =check_box_tag 'e'
                  =label_tag "e", "e. No further police action is being taken at this time due to insufficient evidence  "
              %tr.q31.hide
                %td
                  =check_box_tag 'f'
                  =label_tag "f", "f. You are required to attend court as a witness  "
           
              %tr.q31.hide
                %td
                  =check_box_tag 'g'
                  =label_tag "g", "g. Court proceedings have been finalised and the outcome of these proceedings "
              %tr.q31.hide
                %td
                  =check_box_tag 'h'
                  =label_tag "h", "h. The offender has been dealt with by police as an alternative to court  "
            %tr
              %td
                =label_tag :keepinformrating, "Were you satisfied or dissatisfied with the ease of contacting someone who could asset you?"
            %tr
              %td
                %input{:type=>"text",:id=>"keepinformrating",:class=>"hide"}
                #keepinformratingbar


        %fieldset.hide#q4
          %legend Treament by police staff
          %p Please think about how you were treated by the police officers and other staff who dealt with you. If more than one person was involved, please give an overall impression of how you were treated. Did they:
          %table
            %tr
              %td
              %td Yes
              %td No
              %td Don't know
              %td Not applicable
            %tr 
              %td Listen to what you had to say?
              %td
                =radio_button_tag 'islisten', "Yes"
              %td
                =radio_button_tag 'islisten', "No"
              %td
                =radio_button_tag 'islisten', "Don't know"
              %td
                =radio_button_tag 'islisten', "Not applicable"
            %tr 
              %td Deal with you sympathetically
              %td
                =radio_button_tag 'issympathetically', "Yes"
              %td
                =radio_button_tag 'issympathetically', "No"
              %td
                =radio_button_tag 'issympathetically', "Don't know"
              %td
                =radio_button_tag 'issympathetically', "Not applicable"
            %tr 
              %td Appear interested in what you told them?
              %td
                =radio_button_tag 'isinterested', "Yes"
              %td
                =radio_button_tag 'isinterested', "No"
              %td
                =radio_button_tag 'isinterested', "Don't know"
              %td
                =radio_button_tag 'isinterested', "Not applicable"
            %tr 
              %td Treat you politely?
              %td
                =radio_button_tag 'ispolitely', "Yes"
              %td
                =radio_button_tag 'ispolitely', "No"
              %td
                =radio_button_tag 'ispolitely', "Don't know"
              %td
                =radio_button_tag 'ispolitely', "Not applicable"
            %tr 
              %td Make the effort to understand the nature of your enquiry?
              %td
                =radio_button_tag 'understand', "Yes"
              %td
                =radio_button_tag 'understand', "No"
              %td
                =radio_button_tag 'understand', "Don't know"
              %td
                =radio_button_tag 'understand', "Not applicable"
            %tr 
              %td Appear to take the matter seriously?
              %td
                =radio_button_tag 'isseriously', "Yes"
              %td
                =radio_button_tag 'isseriously', "No"
              %td
                =radio_button_tag 'isseriously', "Don't know"
              %td
                =radio_button_tag 'isseriously', "Not applicable"
            %tr 
              %td Try to discourage you from reporting the incident?
              %td
                =radio_button_tag 'discourage', "Yes"
              %td
                =radio_button_tag 'discourage', "No"
              %td
                =radio_button_tag 'discourage', "Don't know"
              %td
                =radio_button_tag 'discourage', "Not applicable"
          %table
            %tr
              %td
                =label_tag :treatmentrating, "Are you satisfied or dissatisfied with the way you were treated by the police officers and staff who dealt with you?"
            %tr
              %td
                %input{:type=>"text",:id=>"treatmentrating",:class=>"hide"}
                #treatmentratingbar
          
        %fieldset.hide#q5
          %legend The whole experience - overall service
          %table
            %tr
              %td
                =label_tag :wholerating, "Taking the whole experience into account, are you satisfied or dissatisfied with the service provide by the police in this case?"
            %tr
              %td
                %input{:type=>"text",:id=>"wholerating",:class=>"hide"}
                #wholeratingbar


    

      %fieldset.step#forth
        %h3 
          Telling us your story 
        %p
          =f.label(:body,"We want you to tell us your story. Tell us the details - how did you feel? what happened? No swear words or names please. ")
          %a.tooltip{:href=>"#"}
            Example
            %span.classic
              PUBLIC 
              %br/
              I think the UK definitely needs more police. I was brought up in London during the 1960s & vividly remember seeing a "bobby on the beat". Yes there was crime but there was a moral code. People respected the police. I can't remember the last time I seen a police officer walking down my street. There must be a way we can police back out on the streets!
              %br/
              POLICE
              %br/
              "I have to admit that we're not able to do this sort of thing very often due to the large areas that we now have to cover, all the targets we have to meet and ticky boxes we have to fill in. We basically don't have much time to walk. I have answered a similar question before. I'm told that the government is looking to reduce bureaucracy in the Police but I've heard that many times before and nothing changes. It remains to be seen.
              %br/
              That said though, I as are many of my colleagues, am happy to go out walking when the opportunity arises and have previously done so many times.
              %br/
              A question for the asker though would be 'When did you last see a plain clothes officer walk or drive down your street?'
              %br/
              Just because we aren't wearing silly high glo coats and in marked Police cars, it doesn't mean we aren't there. What you also have to bear in mind is that we are patrolling the streets whilst you are sleeping."
              
        %p
          You have already typed
          %span#charCount
          charatcers(
          %a.tooltip{:href=>"#"}
            what is a character?
            %span.classic
              A character is a written symbol, a letter,  that is used to represent speech; "the Greek alphabet has 24 characters
          ). More than 140 characters would be great.
            
          =f.text_area :body
        %p
          =f.label(:suggestion, "We would like you to tell us how the service you experienced could be improved.")
          %a.tooltip{:href=>"#"}
            Example
            %span.classic
              I would like to see your staff trained more to deal with this type of situation and perhaps a special number I can phone before I go, or some kind of way for me to meet up with someone to report the assault without having to visit the station.  I think a station should have someone on at all times who can deal with someone like me who has gone through an experience similar to mine.
        %p
          =f.text_area :suggestion
      
      
        %h3 Adding Tags
        %p
          =f.label(:tag_list, "We want you to add 'tags' to your story (Please seperate each word with a comma)")
          %a.tooltip{:href=>"#"}
            What's a tag?
            %span.classic
              These are just descriptive words that help to categorise your story ( kind of like internet bookmarks ). For example, if your story is about a burglary at your house you might use the tags, burglary, theft, home, criminal, lost.
              
          %p
            =f.text_field :tag_list, :class=>"ui-autocomplete-input"
      %fieldset.step#fifth
        %h3
          Thank you for sharing your experience with MyPolice. Press submit to continue
        =f.submit 
    #next_button.action
      =f.submit :value=>"Next",:class=>"navigation_button submitstory"
   
