#newpost
  =form_for(@post) do |f| 
     
    #formcontent
      = render "shared/error_message", :target => [@post, @address]
      #err
      %fieldset.step#first
        %h3
          Some details
        %p
          Share your story with mypolice.
          -if user_signed_in?
            You signed in as 
            =current_user.email
            %p
              =check_box_tag :anonymous
              No, I want to remain anonymous

          -else
            tell us as a
            =link_to "user", new_user_session_path
            If you don't sign in as a user, your story will be kept anonymous
        

       
        %table
          %tr.field
            %td
              =f.label(:title, "We want you to give your story a title")
              =mark_required(@post, :title)
              %a.tooltip{:href=>"#"}
                =image_tag("infoicon.png")
                %span.classic
                  Please give your story a title. Like "Police listened to my son"or "Neighbourhood chaos"
            %td
              =f.text_field :title, :value=>@post.title
          %tr.field
            %td
              =f.label(:category_id, "Type of incident" )
              -type_array = Category.all.map{|t|[t.name,t.id]}
            %td
              =f.select(:category_id,options_for_select(type_array,@post.category_id))
          %tr.field
            %td
              =f.label(:who_id," Who is this story about?")
              %a.tooltip{:href=>"#"}
                =image_tag("infoicon.png")
                %span.classic
                  Who is this story about? you? a female friend? an elderly relative?
                  /Is this story about you or a friend?
            -who_array = Who.all.map{|w|[w.name,w.id]}
            %td
              =f.select(:who_id, options_for_select(who_array,@post.who_id),{},{:class=>"short"})
              is
              -gender_array={"female"=>1,"male"=>2}

              -age_array={"16-24 years"=>1,"25-34 years"=>2, "35-44 years"=>3, "45-54 years"=>4, "55-64 years"=>5, "65-74 years"=>6, "75 years or over"=>7}
              =fields_for :storydata do |s| 
                =s.select(:gender, options_for_select(gender_array),{},{:class=>"short"}) 
                aged
                =s.select(:age,options_for_select(age_array),{},{:class=>"short"})
              
          %tr.field
            %td
              =f.label(:happened_on,"When did it happen?")
              %a.tooltip{:href=>"#"}
                =image_tag("infoicon.png")
                %span.classic
                  When did it happen? The date would be helpful or the month and/or year.
            /%td=f.text_field :happened_on
            %td
              =select_year(0,:start_year=>Time.now.year,:end_year=>Time.now.year-50, :field_name=>:happened_on_year, :prompt => "What year? Don't worry if you can't remember")
             
          %tr.field
            %td
            %td
              =select_month(0,:field_name=>:happened_on_month, :prompt=>"What month? Don't worry if you can't remember")
          %tr.field
            %td
            %td
              =select_day(0, :field_name=>:happened_on_day, :prompt=>"What day? Don't worry if you can't remember")
          =fields_for :storydata do |s|
            %tr.field
              %td
                =s.label(:cirmenumber,"Do you have a crime number?")
              %td
                =s.text_field :crimenumber
            /%td= date_select("post","happened_on", :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' })
        -#beign
          %tr.field
            %td
              =f.label(:category_id,"Category")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  We want to know what kind of story this is
            -category_array = Category.all.map{|c| [c.name,c.id]}
            %td=f.select(:category_id, options_for_select(category_array, @post.category_id))
          -end
        
    
      =fields_for :address do |a|
        %fieldset.step#second
          %h3
            Choosing the location
          %p
            Please tell us where this story happened:
            %a.tooltip{:href=>"#"}
              =image_tag("infoicon.png")
              %span.classic
                The more information you give, the easier it is for us to make our data accurate. We will never reveal an exact street address online. Can you tell us the city or town, the name of the area, the street name if you know, and finally the postcode or part of the postcode, if are unsure of the area, click our map button and use the pointer to tell us where it happened.                
          %p 
            Find it on map
            %a{:id=>'gmap', :href=>'#addresslookup',:title=>"fintitonmap"}
              =image_tag("findmapicon.png")
          %table
            %tr.field 
              %td=a.label(:country, "Country")
              %td=a.select(:country, options_for_select(["Scotland","England","Northern Ireland"]))
            %tr.field 
              %td=a.label(:county," County")
              %td=a.text_field :county
            %tr.field 
              %td
                =a.label(:city," Town/City")
              %td=a.text_field :city
            %tr.fields 
              %td=a.label(:address_line2, "Street Name")
              %td=a.text_field :address_line2
           
            %tr.field 
              %td
                =a.label(:address_line1," Street Number/House Name")
              %td
                =a.text_field :address_line1
            %tr.field 
              %td=a.label(:postcode," Postcode")
              %td=a.text_field :postcode
      
      .step#third
        %h3 Going into a little more detail
        %ul#questionstracker
          %li#l1 First contact
          %li#l2 Police Actions
          %li#l3 Follow Up
          %li#l4 Treatment by staff
          %li#l5 overall experience
        %a{:id=>"backbt",:class=>"hide"}back
        %a{:id=>"nextbt"}next
        =fields_for :storydata do |s|
          %fieldset#q1
            %legend 
            %table.textleft
              %tr.field#q11
                %td
                  =s.label "1. Did you make contact with police"
                  =s.radio_button 'contact', true
                  =s.label 'contact_true','Yes'
                  =s.radio_button 'contact', false
                  =s.label 'contact_false','No'
              %tr.field.hide#q12
                %td
                  =s.label :contactway,"2.How did you contact the police?"
                  =s.select(:contactway, options_for_select(@contactways))
                  
              %tr.hide#q13
                %td
                  =s.label :easeofcontactingrating, "3.Were you satisfied or dissatisfied with the ease of contacting someone who could assist you?"
                  %span#easeofcontactingratingvalue.orange  Neither satisfied nor dissatisfied
                  =s.text_field(:easeofcontactingrating,:class=>"hide")
                  #easeofcontactingratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied
               
              %tr.hide#q14
                %td
                  =s.label :afterreport,"4.After the detail were reported. how was the incident dealt with?"
                  =s.select(:afterreport,options_for_select(@afterreport))
                
              %tr.hide#q15
                %td
                  =s.label :isreport,"5.Were you told when you reported the crime how long it would be before someone would attend?"
                  =s.radio_button 'isreport', true
                  =s.label 'isreport_true','Yes'
                  =s.radio_button 'isreport', false
                  =s.label 'isreport_false','No'

              %tr.hide#q16
                %td
                  =s.label :howlongarrivetold, "6.How long were you told it would take for an officer or other member of police staff to arrive?"
                  =s.select(:howlongarrivetold, options_for_select(@howlongarrivetold))

              %tr.hide#q17
                %td
                  =s.label :howlongarrive, "7.How long did it take for them to arrive?"
                  =s.select(:howlongarrive, options_for_select(@howlongarrive))

              %tr.hide#q18
                %td
                  =s.label :arriverating,"8.How satisfied or dissatisfied were you with the time it took for the police to arrive?"
                  %span#arriveratingvalue.orange Neither satisfied nor dissatisfied
                  =s.text_field('arriverating',:class=>"hide")         
                  #arriveratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied

            
          %fieldset.hide#q2
            %legend Police Actions to deal with the incident
            %p Please think about the actions taken by the police officers and staff who dealt with your incident, did they;
            %table.textleft
              %tr
                %td
                %td Yes
                %td No
                %td Don't know
                %td Not applicable
              %tr 
                %td Explain what was going to happen and why?
                %td
                  =s.radio_button 'isexplain', 1
                %td
                  =s.radio_button 'isexplain', 2
                %td
                  =s.radio_button 'isexplain', 3
                %td
                  =s.radio_button 'isexplain', 4
              %tr 
                %td Arrange for an investigation of the scene of the crime (e.g. fingerprints), or examination of items recovered from the scene?
                %td
                  =s.radio_button 'isinvestigate', 1
                %td
                  =s.radio_button 'isinvestigate', 2
                %td
                  =s.radio_button 'isinvestigate', 3
                %td
                  =s.radio_button 'isinvestigate', 4
              %tr 
                %td Provide you with a reference number?
                %td
                  =s.radio_button 'referenceno', 1
                %td
                  =s.radio_button 'referenceno', 2
                %td
                  =s.radio_button 'referenceno', 3
                %td
                  =s.radio_button 'referenceno', 4
              %tr 
                %td Provide you with contact details for someone dealing with your case?
                %td
                  =s.radio_button 'contactdetail', 1
                %td
                  =s.radio_button 'contactdetail', 2
                %td
                  =s.radio_button 'contactdetail', 3
                %td
                  =s.radio_button 'contactdetail', 4
            %table.textleft
              %tr
                %td
                  =s.label :actionrating, "Were you satisfied or dissatisfied with the ease of contacting someone who could asset you?"
                  %span#actionratingvalue.orange Neither satisfied nor dissatisfied
                  =s.text_field('actionrating', :id=>"actionrating",:class=>"hide")                                    
                  #actionratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied


                 
          %fieldset.hide#q3
            %legend Follow Up - Being kept informed
        
            %table.textleft
              %tr
                %td
                  Have had any contact with the police about thisincident since your report and the initial police response? (Thos contact could have been over the phone, face-to-face, by letter or by other means)
              %tr
                %td
                  =s.radio_button 'anycontact', true
                  =s.label 'anycontact_true', "Yes"
                  =s.radio_button 'anycontact', false
                  =s.label 'anycontact_false', "No"
       
              %tr
                %td Did you want further contact from the police
              %tr
                %td
                  =s.radio_button 'furthercontact', "Yes"
                  =s.label 'furthercontact_Yes', "Yes"
                  =s.radio_button 'furthercontact', "No"
                  =s.label 'furthercontact_No', "No"
            
              %tr.q31.hide
                %td Have the police told you at any point that: (please tick all that apply)
              %tr.q31.hide
                %td
                  =s.check_box 'contact_a'
                  =s.label "contact_a", "a. Somebody has been arrested in connection with the case "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_b'
                  =s.label "contact_b", "b. The police have recovered some or all of your property  "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_c'
                  =s.label "contact_c", "c. A person has been charged with or is being reported for the offence "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_d'
                  =s.label "contact_d", "d. Lines of enquiry are still being pursued "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_e'
                  =s.label "contact_e", "e. No further police action is being taken at this time due to insufficient evidence  "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_f'
                  =s.label "contact_f", "f. You are required to attend court as a witness  "
           
              %tr.q31.hide
                %td
                  =s.check_box 'contact_g'
                  =s.label "contact_g", "g. Court proceedings have been finalised and the outcome of these proceedings "
              %tr.q31.hide
                %td
                  =s.check_box 'contact_h'
                  =s.label "contact_h", "h. The offender has been dealt with by police as an alternative to court  "
              %tr
                %td
                  =s.label :keepinformrating, "Were you satisfied or dissatisfied with the ease of contacting someone who could asset you?"
                  %span#keepinformratingvalue.orange Neither satisfied nor dissatisfied
                  =s.text_field('keepinformrating', :id=>"keepinformrating",:class=>"hide")                  
                  %input{:type=>"text",:id=>"keepinformrating",:class=>"hide"}
                  #keepinformratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied


          %fieldset.hide#q4
            %legend Treament by police staff
            %p Please think about how you were treated by the police officers and other staff who dealt with you. If more than one person was involved, please give an overall impression of how you were treated. Did they:
            %table.textleft
              %tr
                %td
                %td Yes
                %td No
                %td Don't know
                %td Not applicable
              %tr 
                %td Listen to what you had to say?
                %td
                  =s.radio_button 'islisten', 1
                %td
                  =s.radio_button 'islisten', 2
                %td
                  =s.radio_button 'islisten', 3
                %td
                  =s.radio_button 'islisten', 4
              %tr 
                %td Deal with you sympathetically
                %td
                  =s.radio_button 'issympathetically', 1
                %td
                  =s.radio_button 'issympathetically', 2
                %td
                  =s.radio_button 'issympathetically', 3
                %td
                  =s.radio_button 'issympathetically', 4
              %tr 
                %td Appear interested in what you told them?
                %td
                  =s.radio_button 'isinterested', 1
                %td
                  =s.radio_button 'isinterested', 2
                %td
                  =s.radio_button 'isinterested', 3
                %td
                  =s.radio_button 'isinterested', 4
              %tr 
                %td Treat you politely?
                %td
                  =s.radio_button 'ispolitely', 1
                %td
                  =s.radio_button 'ispolitely', 2
                %td
                  =s.radio_button 'ispolitely', 3
                %td
                  =s.radio_button 'ispolitely', 4
              %tr 
                %td Make the effort to understand the nature of your enquiry?
                %td
                  =s.radio_button 'understand', 1
                %td
                  =s.radio_button 'understand', 2
                %td
                  =s.radio_button 'understand', 3
                %td
                  =s.radio_button 'understand', 4
              %tr 
                %td Appear to take the matter seriously?
                %td
                  =s.radio_button 'isseriously', 1
                %td
                  =s.radio_button 'isseriously', 2
                %td
                  =s.radio_button 'isseriously', 3
                %td
                  =s.radio_button 'isseriously', 4
              %tr 
                %td Try to discourage you from reporting the incident?
                %td
                  =s.radio_button 'discourage', 1
                %td
                  =s.radio_button 'discourage', 2
                %td
                  =s.radio_button 'discourage', 3
                %td
                  =s.radio_button 'discourage', 4
            %table.textleft
              %tr
                %td
                  =s.label :treatmentrating, "Are you satisfied or dissatisfied with the way you were treated by the police officers and staff who dealt with you?"
                  %span#treatmentratingvalue.orange Neither satisfied nor dissatisfied
                  =s.text_field('treatmentrating', :id=>"treatmentrating",:class=>"hide")                  
                  #treatmentratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied
          
          %fieldset.hide#q5
            %legend The whole experience - overall service
            %table.textleft
              %tr
                %td
                  =s.label :wholerating, "Taking the whole experience into account, are you satisfied or dissatisfied with the service provide by the police in this case?"
                  %span#wholeratingvalue.orange Neither satisfied nor dissatisfied
                  =s.text_field(:wholerating, :id=>"wholerating",:class=>"hide")                                   
                  #wholeratingbar
                  %ul
                    %li Completely dissatisfied
                    %li.star1 Completely satisfied


    

      %fieldset.step#forth
        %h3 
          Telling us your story 
        %p
          =f.label(:body,"We want you to tell us your story. Tell us the details - how did you feel? what happened? No swear words or names please. ")
          %a.tooltip{:href=>"#"}
            =image_tag("infoicon.png")
            %span.classic
              PUBLIC 
              %br/
              I think the UK definitely needs more police. I was brought up in London during the 1960s & vividly remember seeing a "bobby on the beat". Yes there was crime but there was a moral code. People respected the police. I can't remember the last time I seen a police officer walking down my street. There must be a way we can police back out on the streets!
              %br/
              POLICE
              %br/
              "I have to admit that we're not able to do this sort of thing very often due to the large areas that we now have to cover, all the targets we have to meet and ticky boxes we have to fill in. We basically don't have much time to walk. I have answered a similar question before. I'm told that the government is looking to reduce bureaucracy in the Police but I've heard that many times before and nothing changes. It remains to be seen.
              %br/
              That said though, I as are many of my colleagues, am happy to go out walking when the opportunity arises and have previously done so many times.
              %br/
              A question for the asker though would be 'When did you last see a plain clothes officer walk or drive down your street?'
              %br/
              Just because we aren't wearing silly high glo coats and in marked Police cars, it doesn't mean we aren't there. What you also have to bear in mind is that we are patrolling the streets whilst you are sleeping."
              
        %p
          %span#charCount
          charatcers(
          %a.tooltip{:href=>"#"}
            what is a character?
            =image_tag("infoicon.png")
            %span.classic
              A character is a written symbol, a letter,  that is used to represent speech; "the Greek alphabet has 24 characters
          ). More than 140 characters would be great.
            
        =f.text_area :body
        %p
          =f.label(:suggestion, "We would like you to tell us how the service you experienced could be improved.")
          %a.tooltip{:href=>"#"}
            =image_tag("infoicon.png")
            %span.classic.left
              I would like to see your staff trained more to deal with this type of situation and perhaps a special number I can phone before I go, or some kind of way for me to meet up with someone to report the assault without having to visit the station.  I think a station should have someone on at all times who can deal with someone like me who has gone through an experience similar to mine.
        %p
          =f.text_area :suggestion
      
      
        %h3 Adding Tags
        %p
          =f.label(:tag_list, "We want you to add 'tags' to your story (Please seperate each word with a comma)")
          %a.tooltip{:href=>"#"}
            What's a tag?
            =image_tag("infoicon.png")
            %span.classic.left
              These are just descriptive words that help to categorise your story ( kind of like internet bookmarks ). For example, if your story is about a burglary at your house you might use the tags, burglary, theft, home, criminal, lost.
              
          %p
            =f.text_field :tag_list, :class=>"ui-autocomplete-input"
      %fieldset.step#fifth
        %h3
          Thank you for sharing your experience with MyPolice. Press submit to continue
      =f.submit :value=>"Next",:class=>"navigation_button right" 
      =f.submit :type=>"reset" ,:value=>"Back",:class=>"navigation_button"
     
   
