#newpost
  =form_for(@post) do |f| 
    #back_button.action
      =f.submit :type=>"reset" ,:value=>"Back",:class=>"navigation_button",:id=>"backbutton"
    #formcontent
      = render "shared/error_message", :target => [@post, @address]
      #err
      %fieldset.step#first
        %h2
          -if user_signed_in?
            You logined as 
            =current_user.email

          -else
            You can either 
            =link_to "sign-in", new_user_session_path
            (if you are already a member),
            =link_to "Create a new profile", new_user_registration_path
            or create a story anonymously
      %fieldset.step#second
        %table
          %tr.field
            %td
              =f.label(:title, "Story title")
              =mark_required(@post, :title)
            %td=f.text_field :title, :value=>@post.title
          %tr.field
            %td=f.label(:who_id,"Who it happened to")
            -who_array = Who.all.map{|w|[w.name,w.id]}
            %td=f.select(:who_id, options_for_select(who_array,@post.who_id))
          %tr.field
            %td=f.label(:happened_on,"When it happened")
            /%td=f.text_field :happened_on
            %td
              =select_year(0,:start_year=>Time.now.year,:end_year=>Time.now.year-50, :field_name=>:happened_on_year, :prompt => "What year? Don't worry if you can't remember")
          %tr.field
            %td
            %td
              =select_month(0,:field_name=>:happened_on_month, :prompt=>"What month? Don't worry if you can't remember")
          %tr.field
            %td
            %td
              =select_day(0, :field_name=>:happened_on_day, :prompt=>"What day? Don't worry if you can't remember")
            /%td= date_select("post","happened_on", :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' })
          %tr.field
            %td=f.label(:category_id,"Category of story")
            -category_array = Category.all.map{|c| [c.name,c.id]}
            %td=f.select(:category_id, options_for_select(category_array, @post.category_id))
       
        
    
      =fields_for :address do |a|
        %fieldset.step#third
          %h3
            Please tell us where your story took place    
          %table
            %tr.field 
              %td
                =a.label(:address_line1," Address Line")
                = mark_required(@address, :address_line1)
              %td
                =a.text_field :address_line1, :class=>"required"
            %tr.field 
              %td=a.label(:address_line2, "Address Line 2")
              %td=a.text_field :address_line2
            %tr.field 
              %td
                =a.label(:city," Town/City")
                = mark_required(@address, :city)  
              %td=a.text_field :city, :class=>"required"
            %tr.field 
              %td=a.label(:county," County")
              %td=a.text_field :county
            %tr.field 
              %td
                =a.label(:postcode," Postcode")
                = mark_required(@address, :postcode)
              %td=a.text_field :postcode
            %tr.field 
              %td=a.label(:country, "Country(Our serivce is only available in the UK)")
              %td=a.select(:country, options_for_select(["United Kingdom"]), {:disabled => true})

      %fieldset.step#forth
        %table.story
          %tr
            %td
              =f.label(:body,"Please tell us your story")
              =f.text_area :body
          %tr
            %td
              =f.label(:suggestion, "Please give us a suggestion about how this experience could be improved")
              =f.text_area :suggestion
      
      %fieldset.step#fifth
        %h3 Please add some keywords to describe your story
        .field
          %p
            =f.label(:tag_list, "Tags (Please seperate each word with a comma)") 
          %p
            =f.text_field :tag_list 
        %h3
          You story is now ready to be submitted, please click the submit button to contitue
        =f.submit 
    #next_button.action
      =f.submit :value=>"Next",:class=>"navigation_button submitstory"
   
