#newpost
  =form_for(@post) do |f| 
    #back_button.action
      =f.submit :type=>"reset" ,:value=>"Back",:class=>"navigation_button",:id=>"backbutton"
    #formcontent
      = render "shared/error_message", :target => [@post, @address]
      #err
      %fieldset.step#first
        %h2
          -if user_signed_in?
            You logined as 
            =current_user.email

          -else
            Share your story with mypolice. Tell us as 
            =link_to "a user", new_user_session_path
            or remain anonymously
      %fieldset.step#second
        %h3
          Story details
        %table
          %tr.field
            %td
              =f.label(:title, "We want you to give your story a title")
              =mark_required(@post, :title)
              %a.tooltip{:href=>"#"}
                Example
                %span.classic
                  "Police really cared" "Neighbourhood chaos"
            %td
              =f.text_field :title, :value=>@post.title
             
          %tr.field
            %td
              =f.label(:who_id,"Who did it happen to?")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  Is this story about you or a friend?
            -who_array = Who.all.map{|w|[w.name,w.id]}
            %td
              =f.select(:who_id, options_for_select(who_array,@post.who_id))
          %tr.field
            %td
              =f.label(:happened_on,"When did it happend?")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  If you can remember the exact date, that's great, but if not, the year would be good.
            /%td=f.text_field :happened_on
            %td
              =select_year(0,:start_year=>Time.now.year,:end_year=>Time.now.year-50, :field_name=>:happened_on_year, :prompt => "What year? Don't worry if you can't remember")
             
          %tr.field
            %td
            %td
              =select_month(0,:field_name=>:happened_on_month, :prompt=>"What month? Don't worry if you can't remember")
          %tr.field
            %td
            %td
              =select_day(0, :field_name=>:happened_on_day, :prompt=>"What day? Don't worry if you can't remember")
            /%td= date_select("post","happened_on", :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' })
          %tr.field
            %td
              =f.label(:category_id,"Category")
              %a.tooltip{:href=>"#"}
                help
                %span.classic
                  We want to know what kind of story this is
            -category_array = Category.all.map{|c| [c.name,c.id]}
            %td=f.select(:category_id, options_for_select(category_array, @post.category_id))
       
        
    
      =fields_for :address do |a|
        %fieldset.step#third
          %h3
            Choosing the location
          %p
            Please tell us where this story happened:
            %a.tooltip{:href=>"#"}
              Why
              %span.classic
                The more information you tell us, the better.  We will never reveal an exact street address online, it's just so we can make our data as accurate as possible.  Tell us what city or town this happened in, the name of the area, the street name, and finally the postcode. if you can't remember some of the details or are unsure of the area, try clicking our map button and using a pointer to tell us where it happened.
          %a{:id=>'gmap', :href=>'#addresslookup',:title=>"fintitonmap"}
            Find it on map
          %table
            %tr.field 
              %td=a.label(:country, "Country(Our serivce is only available in the UK)")
              %td=a.select(:country, options_for_select(["United Kingdom"]), {:disabled => true})
            %tr.field 
              %td=a.label(:county," County")
              %td=a.text_field :county
            %tr.field 
              %td
                =a.label(:city," Town/City")
              %td=a.text_field :city
            %tr.fields 
              %td=a.label(:address_line2, "Street Name")
              %td=a.text_field :address_line2
           
            %tr.field 
              %td
                =a.label(:address_line1," Street Number/House Name")
              %td
                =a.text_field :address_line1
            %tr.field 
              %td=a.label(:postcode," Postcode")
              %td=a.text_field :postcode

      %fieldset.step#forth
        %h3 
          Telling us your story 
        %p
          =f.label(:body,"We want you to tell us your story. Tell us the details - how did you feel? what happened? No swear words or names please. ")
          %a.tooltip{:href=>"#"}
            Example
            %span.classic
              PUBLIC 
              %br/
              I think the UK definitely needs more police. I was brought up in London during the 1960s & vividly remember seeing a "bobby on the beat". Yes there was crime but there was a moral code. People respected the police. I can't remember the last time I seen a police officer walking down my street. There must be a way we can police back out on the streets!
              %br/
              POLICE
              %br/
              "I have to admit that we're not able to do this sort of thing very often due to the large areas that we now have to cover, all the targets we have to meet and ticky boxes we have to fill in. We basically don't have much time to walk. I have answered a similar question before. I'm told that the government is looking to reduce bureaucracy in the Police but I've heard that many times before and nothing changes. It remains to be seen.
              %br/
              That said though, I as are many of my colleagues, am happy to go out walking when the opportunity arises and have previously done so many times.
              %br/
              A question for the asker though would be 'When did you last see a plain clothes officer walk or drive down your street?'
              %br/
              Just because we aren't wearing silly high glo coats and in marked Police cars, it doesn't mean we aren't there. What you also have to bear in mind is that we are patrolling the streets whilst you are sleeping."
              
        %p
          You have already typed
          %span#charCount
          charatcers(
          %a.tooltip{:href=>"#"}
            what is a character?
            %span.classic
              A character is a written symbol, a letter,  that is used to represent speech; "the Greek alphabet has 24 characters
          ). More than 140 characters would be great.
            
          =f.text_area :body
        %p
          =f.label(:suggestion, "We would like you to tell us how the service you experienced could be improved.")
          %a.tooltip{:href=>"#"}
            Example
            %span.classic
              I would like to see your staff trained more to deal with this type of situation and perhaps a special number I can phone before I go, or some kind of way for me to meet up with someone to report the assault without having to visit the station.  I think a station should have someone on at all times who can deal with someone like me who has gone through an experience similar to mine.
        %p
          =f.text_area :suggestion
      
      %fieldset.step#fifth
        %h3 Adding Tags
        .field
          %p
            =f.label(:tag_list, "We want you to add 'tags' to your story (Please seperate each word with a comma)")
            %a.tooltip{:href=>"#"}
              What's a tag?
              %span.classic
                These are just descriptive words that help to categorise your story ( kind of like internet bookmarks ). For example, if your story is about a burglary at your house you might use the tags, burglary, theft, home, criminal, lost.
              
          %p
            =f.text_field :tag_list 
        %h3
          Thank you for sharing your experience with MyPolice. Press submit to continue
        =f.submit 
    #next_button.action
      =f.submit :value=>"Next",:class=>"navigation_button submitstory"
   
