=div_for post do
  .postbubble
    %h3
      \[
      =post.category.name
      \]
      =link_to_unless_current post.title.titlecase, post
    -if params[:controller] == "police/dashboard"
      %p 
        =link_to "Flag"
        =link_to "Forward"
        =link_to "Reponses" , post_path(post)<<"#new_response" 
    =simple_format sanitize(post.body[0,500])
    -unless post.suggestion.empty?
      %h3 Suggestion
      =simple_format sanitize(post.suggestion[0,100])
    
    .ratingbar
      -if post.storydata && post.storydata.wholerating
        =image_tag("ratingbar"<<post.storydata.wholerating.to_s<<".png")
    .postrelated
      Posted by
      %strong
        =post.user.nil? ? "anonymous" : post.user.email
      on
      %strong
        =time_ago_in_words(post.created_at)
      ago


    .postrelated
      -if post.responses.count > 1
        =link_to "#{post.responses.count} Responses", post
      -else
        =link_to "#{post.responses.count} Response", post
        \/
      -if post.comments.approved.count > 1
        =link_to "#{post.comments.approved.count} Comments", post
      -else
        =link_to "#{post.comments.approved.count} Comment", post


 
