=f.hidden_field(:title, :value=>@post.id)
=f.hidden_field(:category_id, :value=>@post.category_id)
=f.hidden_field(:happened_on, :value=>@post.happened_on)
=f.hidden_field(:who_id, :value=>@post.who_id)
.field
  =f.label(:body, "Stroy")
  =f.text_area :body 
.field
  =f.label:suggestion
  =f.text_area :suggestion
.action
  =f.submit
