=f.hidden_field(:title, :value=>@post.id)
=f.hidden_field(:category_id, :value=>@post.category_id)
.field
  =f.label(:body, "Stroy")
  =f.text_area :body 
.filed
  =f.label:suggestion
  =f.text_area :suggestion
.action
  =f.submit
