-title  "Stories"
%h1 Listing posts
-form_tag posts_path :method=>:get, :action=>:index do 
  %p
    =text_field_tag :search,params[:search]
    =submit_tag "Search"
=link_to 'New Post', new_post_path
=render :partial => @posts
=will_paginate @posts
