-title  "Stories"

#content
  %h1 Stories: Most Recent
  #posts
    %a{:title=>"Tell us your story",:href=>new_post_path}
      %img{:id =>"tellbutton", :title=>"Tell us your story", :alt=>"Tell us your story", :src=>"/images/tellusstorybuton.png"}
    =render :partial => @posts
    =will_paginate @posts

=content_for :sidebar do
  #latestresponses
    %h3.sidebar
      Latest Responses:
    =render :partial=>"home/response",:collection=>@responses
  #tags
    %h3.sidebar
      Tags
    -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag,css_class|
      =link_to tag.name, tag_path(tag),:class=>css_class
  #map
    %h3.sidebar
      Map
