-title  "Stories"


//yield
#content
  #head
    %h2 All Story
  #posts
    =render :partial => @posts
    =will_paginate @posts

=content_for :sidebar do
  %a{:title=>"Tell us your story",:href=>tellusyourstory_path}
    %img{:title=>"Tell us your story", :alt=>"Tell us your story", :src=>"/images/tellusstorybuton.png"}
  #latestresponses.sideblock
    %h3.sidebar
      Latest Responses:
    .sidecontent
      =render :partial=>"home/response",:collection=>@responses
  #tags.sideblock
    %h3.sidebar
      Tags
    .sidecontent
      -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag,css_class|
        =link_to tag.name, tag_path(tag),:class=>css_class
  #map.sideblock
    %h3.sidebar
      Map
    .sidecontent 
      %img{:src=>"/images/map.png", :width=>"270px;"}
