-title "Add a new Story"
%h2.newstory Use the simple form below to tell us your story
#progress
  #complete.fifth
    #marker
  %ul
    %li.first
      Sign in?
    %li.second
      Basic Details
    %li.third
      Location
    %li.forth
      Your story
    %li.fifth
      Tags
#newpost
  =debug(@post)
  =form_for(@post) do |f| 
    #back_button.action
    #formcontent
      %h2
        Thanks! Your story is now being moderated and should appear on the site shortly. In the meantime, you can explore other
        =link_to "Stories", posts_path
        on MyPolice. 
        //We will send you an email when your story goes live
    #next_button.action
   

