<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"
!!!Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}

  =render :partial=>"shared/head"
  %body
    #container
      #layout
        #maincontentwrapper
          #maincontent
            #newstory_header
              %a{:title=>"Mypolice", :href=>root_path}
                %img{:title=>"Mypolicelogi", :src=>image_path("logo.png"), :alt=>"mypolice logo"} 
              =link_to "Get me out of here", root_path, :class=>"right"
            -flash.each do |name, msg| 
              =content_tag :div, msg, :id=>"flash_#{name}"
            = yield 
      #copyright
        %p
          &copy; 2010 My conversation ltd (Mypolice)

